.login_page{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_form{
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-color: white;
    border: 2px solid black
}

.login_header, .login_username, .login_password, .login_submit{
    width: 100%;
}

.login_header{
    text-align: center;
    padding-top: 15px;
}

.login_username,.login_password{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    
    margin-bottom: 25px;

}

.login_username > input, .login_password > input{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 2px;
    border:2px solid black;
}

.login_submit{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    
    margin-top:50px;
}

.login_submit > button{
    cursor: pointer;
    background-color: transparent;
    border:2px solid black;
    width: 150px;
    height: 50px;
}

.login_register{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    
    margin-top:50px;
}