.register_page{
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form{
    width: 400px;
    height: 500px;
    border-radius: 25px;
    background-color: white;
    border:2px solid black;
}

.register_header, .register_submit{
    width: 100%;
}

.register_header{
    text-align: center;
}

.register_username,.register_password,.register_reenter_password,.register_fullName,.register_year{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.register_username > input, .register_password > input, .register_reenter_password > input,.register_fullName > input,.register_year > select{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: 2px;
    border:2px solid black;
}

.register_submit{
    width: 80%;
    margin:auto;
    display: flex;
    justify-content: center;
    
    margin-top:50px;
}

.register_submit > button{
    cursor: pointer;
    background-color: transparent;
    border:2px solid black;
    width: 150px;
    height: 50px;
}

